<div class="container">
  <div class="row">
    <label>New address</label>

    <input
      type="text"
      class="form-control"
      [(ngModel)]="newAddress"
    >

    <p>{{createAddress}}</p>

    <button
      type="button"
      class="btn btn-info"
      [disabled]="newAddress === ''"
      (click)="onCreateAddress()"
    >Add new address</button>
    <hr>
    <button
      type="button"
      class="btn btn-success"
      (click)="toggleAnimals()"
    >Animals</button>
    <p *ngIf="animals">Some information about animals</p>
    <hr>
    <button
      type="button"
      class="btn btn-warning"
      (click)="fruitsList()"
    >
      Choice you fruit
    </button>
    <p
      *ngFor="let fruit of fruits"
      [ngStyle]="{background: fruit == 0 ? 'yellow' : 'green'}"
      [ngClass]="{'blue-font': fruit}"
    >{{fruit}}</p>
  </div>
</div>



