<label>Server Name</label>
<!--<input-->
<!--  type="text"-->
<!--  class="form-control"-->
<!--  (input)="onUpdateServerName($event)">-->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<!--<p>{{serverName}}</p>-->
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()"
>Add Server</button>
<!--<p [innerText]="allowNewServer"></p>-->
<p>{{serverCreationStatus}}</p>
<app-server></app-server>
<app-server></app-server>

<hr>

<label>User name</label>
<br>

<input
  type="text"
  class="form-control"
  [(ngModel)]="userName"
>
<!--<p>Your user mane is {{userName}}</p>-->

<p>{{createUser}}</p>

<button
  class="btn btn-primary"
  [disabled] = "userName === ''"
  (click)="onCreateUser()"
>Add user name</button>

